.document_index{
    width:30%;
    height: 95%;
    background-color: #40e0d0;
    text-align: center;
    
    margin-left: 35%;
    margin-right: 540%;
    margin-top: 1%;
    margin-bottom: auto;
   
}
        /* gif */
.img{
    margin-top: 5%;
    height: 70%;
    width: 85%;
    margin-left: 1%;
}


                                /* fourm styling*/
.document_forum{
    width:30%;
    height: 95%;
    background-color: #40e0d0;
    text-align: center;
    
    margin-left: 35%;
    margin-right: 540%;
    margin-top: 1%;
    margin-bottom: auto;
}


input[type=text] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}